<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="true">
    <property name="defaultPattern" value="%d{YYYY-MM-dd HH:mm:ss.SSS} %5p [%t] %c - %m%n"></property>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    <springProfile name="test,dev">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>
    <springProfile name="production">

        <appender name="RunLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/opt/logs/maven-demo/demo.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/opt/logs/maven-demo/demo.log.%d{yyyyMMdd}</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>utf-8</charset>
                <pattern>${defaultPattern}</pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="RunLog"></appender-ref>
        </root>
        <logger name="com.sohu.mp" level="INFO" additivity="false">
            <appender-ref ref="RunLog"></appender-ref>
        </logger>

    </springProfile>
</configuration>